[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/home/querosermb/querosermb/
ExecStart=/home/querosermb/querosermb/_virtualenv/bin/gunicorn --access-logfile - --workers 3 --bind unix:/home/querosermb/querosermb/querosermb.sock querosermb.wsgi:application

[Install]
WantedBy=multi-user.target